@charset "UTF-8";
*{
    padding: 0px;
    margin: 0px;
    border: none;
    font-family: cursive;
}
body{
    background-color: rgba(223, 223, 255, 0.753);
}
h1{
    text-align: center;
    padding: 20px 0px;
}
main{
    width: 60%;
    margin: auto;
    text-align: center;
    background-color: rgb(206, 213, 240);
    min-height: 180px;
    border-radius: 20px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.295);
}
#l1{
    display: block;
    padding: 20px 0px;
    font-size: 20px;
}
input{
    display: block;
    margin: 0px auto;
    padding: 6px 5px 6px 30px;
    border: 3px solid rgb(71, 97, 202);
    border-radius: 10px;
}
button{
    margin: 20px 0px;
    background-color: white;
    border: 3px solid rgb(71, 97, 202);
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
}
button:hover{
    transform: translate(-2px, -4px);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.322);
    background-color: #cecece;
    border: 3px solid rgb(71, 97, 202);
    transition: transform .3s, border .6s, background-color .5s, box-shadow .3s
}

#divError{
    display: block;
}
#perror{
    animation: error 5s ease-in-out 1 forwards;
    color: rgba(180, 0, 0, 0.795);
}
@keyframes error {
    0%{
        opacity: 0%;
    }
    20%{
        opacity: 100%;
    }
    80%{
        opacity: 100%;
    }
    100%{
        opacity: 0%;
    }
}